<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Logs de Usuario</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-3 workspace">
           <h5 class="subtitulo" style="margin-bottom:15px">Registro de Logs</h5>
      <table class="list issues" style="" id="tablaLogs"></table>
        </div>
    </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->