<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Gestione el Menú del Sistema</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 workspace">
                  <label class="texto-der oculto" id="txtMensajeRptaModal"></label>
                  <label class="texto-der oculto" id="txtIdeSistema"></label>
                  <h5 class="subtitulo" style="margin-bottom:15px">Módulos del Sistema</h5>
                  <table class="list issues" style="" id="tablaModulos"></table>
              </div>
              <div class="col-md-4 workspace">
                  <label id="id_modulo" class="oculto"></label>
                  <h5 class="subtitulo" style="margin-bottom:15px">Subtítulos del Módulo</h5>
                  <table class="list issues" style="" id="tablaSubtitulos"></table>
              </div>
              <div class="col-md-4 workspace">
                  <label id="id_subtitulo" class="oculto"></label>
                  <h5 class="subtitulo" style="margin-bottom:15px">Items del Subtitulo</h5>
                  <table class="list issues" style="" id="tablaItems"></table>
              </div>
          </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->