<script id="usuario-detalle-template" type="text/x-handlebars-template">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Gestione los Datos del Usuario</h4>
          </div>
          <div class="modal-body" id="formUsuario">
            <h5 class="subtitulo">Datos Generales</h5><label id="idUsuario" class="oculto">E</label>
            <label class="texto-der" id="txtMensajeRptaUsuarioDetalle"></label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtUsuario">Usuario</label><span class="texto-validacion"></span>
                      <input type="text" class="form-control" id="txtUsuario" value="{{usuario}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtCorreo">Correo</label><span class="texto-validacion"></span>
                      <input type="text" class="form-control" id="txtCorreo" value="{{correo}}">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default pull-right" id="btnGuardarUsuarioCorreo"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
                </div>
              </div>
              <hr>
              <h5 class="subtitulo">Cambiar contraseña</h5>
              <div class="row" style="margin-top:10px;">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="txtContraseniaAntgua">Contraseña Antigua</label><span class="texto-validacion"></span>
                      <input type="password" class="form-control" id="txtContraseniaAntgua">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="txtContraseniaNueva">Contraseña Nueva</label><span class="texto-validacion"></span>
                      <input type="password" class="form-control" id="txtContraseniaNueva">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="txtContraseniaNuevaRepetida">Repita Contraseña Nueva</label><span class="texto-validacion"></span>
                      <input type="password" class="form-control" id="txtContraseniaNuevaRepetida">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default pull-right" id="btnCambiarContrasenia"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
                </div>
              </div>  
          </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
</script>
